cours/git.hash
cours/*.aux
cours/*.log
cours/*.out
cours/*.pdf
cours/*.nav
cours/*.snm
cours/*.toc
cours/*.synctex.gz

data/*.dat
data/*.xlsx
data/*.xls
data/*.csv
data/*.mat

img/*.eps

ds/*.pdf
ds/*.tikz

td/*/*.pdf